In [21]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split

In [8]:
X = pd.read_csv('data/oil/fattyAcids.csv', index_col=0)
y = pd.read_csv('data/oil/oilType.csv', index_col=0)['0']

In [9]:
X.head()

   Palmitic  Stearic  Oleic  Linoleic  Linolenic  Eicosanoic  Eicosenoic
1       9.7      5.2   31.0      52.7        0.4         0.4         0.1
2      11.1      5.0   32.9      49.8        0.3         0.4         0.1
3      11.5      5.2   35.0      47.2        0.2         0.4         0.1
4      10.0      4.8   30.4      53.5        0.3         0.4         0.1
5      12.2      5.0   31.1      50.5        0.3         0.4         0.1

In [10]:
# A=pumpkin, B=sunflower, C=peanut, D=olive, E=soybean, F=rapseed, G=corn
pd.value_counts(y.values)

A    37
B    26
E    11
F    10
D     7
C     3
G     2
dtype: int64

In [13]:
# full dataset:
y.value_counts(normalize=True)

A    0.385417
B    0.270833
E    0.114583
F    0.104167
D    0.072917
C    0.031250
G    0.020833
Name: 0, dtype: float64

In [14]:
y.sample(n=60).value_counts(normalize=True)

A    0.350000
B    0.300000
F    0.133333
E    0.100000
D    0.083333
C    0.016667
G    0.016667
Name: 0, dtype: float64

In [29]:
sampling_df = pd.DataFrame()
stratified_sampling_df = pd.DataFrame()

In [30]:
for i in range(10):
    sampling_df['sample_{}'.format(i)] = y.sample(n=60).value_counts(normalize=True)
    _, _, _, y_sample = train_test_split(X, y, stratify=y, test_size=60)
    stratified_sampling_df['sample_{}'.format(i)] = y_sample.value_counts(normalize=True)

In [31]:
sampling_df = sampling_df.fillna(0)
sampling_df

,sample_0,sample_1,sample_2,sample_3,sample_4,sample_5,sample_6,sample_7,sample_8,sample_9
A,0.333333,0.400000,0.333333,0.416667,0.300000,0.400000,0.400000,0.333333,0.333333,0.433333
B,0.250000,0.266667,0.316667,0.266667,0.283333,0.283333,0.283333,0.283333,0.300000,0.333333
E,0.150000,0.083333,0.066667,0.116667,0.133333,0.100000,0.083333,0.116667,0.133333,0.083333
F,0.133333,0.133333,0.116667,0.083333,0.150000,0.100000,0.133333,0.116667,0.100000,0.066667
D,0.100000,0.066667,0.100000,0.066667,0.083333,0.066667,0.083333,0.100000,0.100000,0.033333
C,0.033333,0.016667,0.033333,0.033333,0.033333,0.033333,0.000000,0.033333,0.016667,0.016667

In [20]:
# sampling S.E. by oil type 
sampling_df.std(axis=1) / np.sqrt(10)

A    0.011863
B    0.013017
E    0.007115
F    0.007778
D    0.004339
C    0.005092
G    0.003685
dtype: float64

In [32]:
stratified_sampling_df

,sample_0,sample_1,sample_2,sample_3,sample_4,sample_5,sample_6,sample_7,sample_8,sample_9
A,0.383333,0.383333,0.383333,0.383333,0.383333,0.383333,0.383333,0.383333,0.383333,0.383333
B,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667
E,0.116667,0.116667,0.116667,0.116667,0.116667,0.116667,0.116667,0.116667,0.116667,0.116667
F,0.100000,0.100000,0.100000,0.100000,0.100000,0.100000,0.100000,0.100000,0.100000,0.100000
D,0.083333,0.083333,0.083333,0.083333,0.083333,0.083333,0.083333,0.083333,0.083333,0.083333
C,0.033333,0.033333,0.033333,0.033333,0.033333,0.033333,0.033333,0.033333,0.033333,0.033333
G,0.016667,0.016667,0.016667,0.016667,0.016667,0.016667,0.016667,0.016667,0.016667,0.016667

In [34]:
stratified_sampling_df.std(axis=1) / np.sqrt(10)

A    0.000000e+00
B    0.000000e+00
E    0.000000e+00
F    4.625929e-18
D    4.625929e-18
C    0.000000e+00
G    0.000000e+00
dtype: float64